/* =====================
- VARIABLES
===================== */

@import 'partials/_variables.css';

/* =====================
- PARTIALS
===================== */

@import 'partials/_footer.css';
@import 'partials/_header.css';
@import 'partials/_navBar2.css';

/* =====================
- PAGES
===================== */

@import 'pages/_formularioProducto.css';
@import 'pages/_styleRegistro.css';
@import 'pages/_styleHome.css';
@import 'pages/_styleDetalle.css';
@import 'pages/_styleCarrito.css';


/* =====================
- IMPORTS
===================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import url("https://kit.fontawesome.com/36f5743703.js");

/* =====================
- GENERAL
===================== */
*{
  font: 14px "Poppins", Helvetica, Arial, sans-serif;
}

/* =====================
- BODY
===================== */











/* =====================
- BANNER CADROUSEL
imagenes a 960 x 205 en formato jpg
===================== */
section.banner{
  padding: 0;
  margin-top: 5px;
}
section.banner div.carousel-inner{
  width: 100%;
}



/* =====================
- PRODUCTOS DESTACADOS
===================== */
section.productosDestacados {
  padding: 0;
}/*En el article falta ajustar en cada uno*/

section.productosDestacados div {
  margin-top: 15px;
  margin-bottom: 15px;
}

section.productosDestacados div article img{
  width: 100%;
}

section.productosDestacados div article div{
  margin: 0;
  padding-top: 5px;
  padding-bottom: 15px;
}
section.productosDestacados div article div h6{
  font-weight: 700;
}

section.productosDestacados div article div a.carrito { 
  color: #84d2f1;
}