div.cajaInicioSesion{
    background-color: white;
    height: 450px;
    width: 600px;
    padding: 15px 15px;
    margin: 20px auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div h1.tituloInicioSesion {
    background-color: rgb(235, 230, 230);
    height: auto;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

div.containerLogin div.cajaInicioSesion h6.nuevoRegistrate{
    text-align: center;
    padding: 10px;
}