div.cajaInicioUsers{
    background-color: white;
    height: 450px;
    width: 600px;
    padding: 15px 15px;
    margin: 20px auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div h1.tituloInicioSesion {
    background-color: rgb(235, 230, 230);
    height: auto;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.botonAñadirCarrito {
    margin: 10px auto;
    width: 200px;
}

.botonAñadirCarrito {
    margin: 10px auto;
    width: 200px;
}