/* *{} */

section.detalleProducto div.rowPrimary{
    margin: 15px 0;
}

section.detalleProducto div.rowPrimary article.contenedorFotoDetalleProducto{
display: flex;
justify-content: center;
align-items: center;
margin: 20px 0;
padding: 0;
background-color: rebeccapurple;
}
section div article img.fotoDetalleProducto{}

section div article.productoDetallado{
    text-align: center;
}

section div article div h2.tituloDetalleProducto {
    background-color: rgb(235, 235, 235);
    padding: 10px 0;
    margin-bottom: 20px;
}

section div article div.precioCantidadTotal{
    text-align: center;
}

section div article button.botonAñadirCarrito{
    padding: 5px 100px;
    margin-top: 30px;
}

section div.descripcionDetallada {
    padding: 15px 40px;

    margin: 20px 0;
    background-color:rgb(235, 235, 235);
    
}