div.cajaInicioSesion{
    background-color: white;
    height: 450px;
    width: 600px;
    padding: 15px 15px;
    margin: 20px auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div h1.tituloInicioSesion {
    background-color: rgb(235, 230, 230);
    height: auto;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

div.containerLogin div.cajaInicioSesion h6.nuevoRegistrate{
    text-align: center;
    padding: 10px;
}

.form-group {
    position: relative;
}

.form-group label {
    background-color: white;
    display: block;
    width: 100%;
    left: 14px;
    top: 10px;
    border-radius: 5px;
    border: 1px solid #5b007f;
    padding: 8px 14px;
    font-size: 0.8rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.form-group label.error {
    color: var(--rosa-background-header);
    border: 1px solid var(--rosa-background-header);
}

.form-group label.success {
    color: var(--celeste-background);
    border: 1px solid var(--celeste-background);
}

.form-group input {
    border: none;
    padding: 0;
    margin-bottom: 5px;
}

.form-group input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.form-group span#eye {
    position: absolute;
    height: 20px;
    right: 14px;
    top: calc(50% - 10px);
    background: none;
    border: none;
}

.form-group span#eye:before {
    content: '\f06e';
    color: #888;
    font-size: 16px;
    font-family: 'Font Awesome 5 Free'
}

.form-group span#eye.hide:before {
    content: '\f070';
    font-family: 'Font Awesome 5 Free'
}