/* =====================
- BODY FROMULARIO
===================== */

/* body {

} */

/* body div.container {

} */

div.titulo h1.tituloRegistro {
    background-color: var(--rosa-background-header);
    color: var(--violeta-textos);
    height: 70px;
    margin: 20px auto;
    padding-top: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

body div form div div div.botonMinYMay {
    margin: auto;
}

body div form div div div.botonCargarImg{
    margin: 20px;
}

section.registro {
    margin-top: 10px;
}

section.registro h5 {
    margin-top: 10px;
    font-weight: bold;
}

section.datos {
    margin-top: 10px;
    border-top: solid black 1px;
}

section.datos h5 {
    margin-top: 10px;
    font-weight: bold;
}

section.imagen_usuario {
    margin-top: 10px;
    border-top: solid black 1px;
}

section.imagen_usuario h5 {
    margin-top: 10px;
    font-weight: bold;
}