div.cajaInicioUsers{
    background-color: white;
    padding: 15px 15px;
    margin: 20px auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div div.avatarRow{
    justify-content: center;
}
div.divAvatarUser{
    justify-content: center;
    display: flex;
    padding: 20px;
    
}
div.divAvatarUser img.avatarUser{
    height: 200px;
    border: gray 1px solid;
    border-radius: 100px;
}
div.cajaLoginOk h1.tituloInicioSesion {
    background-color: rgb(235, 230, 230);
    height: auto;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
div.cajaLoginOk h2.subTituloInicioSesion {
    height: auto;
    text-align: center;
}

div.cajaLoginOk p.elParrafoInicioSesion {
    height: auto;
    text-align: center;
}

a.aButton{
    display: flex;
}

.botonAñadirCarrito {
    margin: 10px auto;
    width: 200px;

}

.botonAñadirCarrito {
    margin: 10px auto;
    width: 200px;

}