<!DOCTYPE html>
<html lang="en">

<!-- Include Head -->
<%- include('partials/head') %>

<title>CandyShop - Carrito de Compras</title>

<body>
    
    
    
    <!--Include footer -->
    <%- include('partials/footer') %>
    
</body>
</html>