<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Include Head -->
    <%- include('partials/contenidoHead') %>
    <link rel="stylesheet" href="/css/styleCarrito.css">
    
    <title>CandyShop - Carrito de Compras</title>
</head>

<body>
    <!--include HEADER-->
    <%- include('partials/header') %> 
    <!--include Nav Bar 2-->
    <%- include('partials/navBar2') %>
    
    <section class="container carrito">
        <div class="container-flex row">
            
            <!--DETALLE CAMPOS MENU CARRITO-->
            <article class="col-12 row detailBar">
                 <small class="col-2"></small>
                <div class="container-flex row col-10">
                    
                    <h5 class="col-5">DETALLE</h5>
                    <p class="col-2 cantidad"> CANTIDAD </p>
                    <p class="col-3 precio">PRECIO</p>
                    <small class="col-2"></small>
                </div>
            </article>

            <!--ITEMS MENU CARRITO-->
            <article class="col-12 row items">
                <img class="fotoItemCarrito" src="/images/prodDestacados/img-01.jpg" alt="Nombre del producto">
                <div class="container-flex row col-10">
                    <h5 class="col-5">**Titulo Producto**</h5>
                    <p class="col-2 cantidad"> 0 </p>
                    <p class="col-3 precio">$ 0.00</p>
                    <a class="carrito col-2 trash" href="/carrito"><i class="far fa-trash-alt"></i></a>
                </div>
            </article>
            
            <!--LAS AGREGADAS PARA BORRAR DESDE ACA-->

            


            <!--LAS AGREGADAS PARA BORRAR HASTA ACA-->
        </div>
    </section>
    
    
    <!--Include footer -->
    <%- include('partials/footer') %>
</body>
</html>