<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Include Head -->
    <%- include('partials/contenidoHead') %>
    
    <title>CandyShop - Detalle Producto</title>
    <link rel="stylesheet" href="/css/styleDetalle.css">
  </head>


<body>
  <!--include HEADER-->
  <%- include('partials/header') %>
  
  <!--include Nav Bar 2-->
  <%- include('partials/navBar2') %>
  
  
  
  <section>
    <div class="row producto-container">
      <article class="col-6">
        <img src="/images/detalleProductos/img-01.jpg" alt="producto 1">
        
      </article>
      <article class="col-6">
        <div class="detalle-container">
          <h2><a href="index.ejs">Nombre Producto</a> </h2>
          <h6>Detalle del producto</h6>
          <p> <input type="radio" name="valor" value="Y" checked> <label for=""> Por unidad</label> <input type="radio" name="valor" value="Y" checked> <label for=""> Por mayor</label>  </p> 
          
          <div>
            <h4>PRECIO</h4>
            <h5>Cantidad</h5>
            <h5>Total:</h5>
            
          </div>
          
          
          
        </div>
        
      </article>
      
    </div>
    
  </section>
  
  
  
  <!--Include footer -->
  <%- include('partials/footer') %>
  
</body>
</html>