<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Include Head -->
    <%- include('partials/contenidoHead') %>
    
    <title>CandyShop - Detalle Producto</title>
    <link rel="stylesheet" href="/css/styleDetalle.css">
  </head>


<body>
  <!--include HEADER-->
  <%- include('partials/header') %>
  
  <!--include Nav Bar 2-->
  <%- include('partials/navBar2') %>
  
  
  <section class="detalleProducto container">
    <div class="row">
      
      <article class="col-6 contenedorFotoDetalleProducto">
        <img class="fotoDetalleProducto" src="/images/detalleProductos/img-01.jpg" alt="producto 1">   
      </article>
      
      <article class="col-6 productoDetallado">
        <div>
          <h2 class="tituloDetalleProducto">**Titulo Producto**</h2>
          <p> Variantes Producto </p>
          <p> <input type="radio" name="valor" value="Y" checked> <label for=""> Por unidad</label> <input type="radio" name="valor" value="Y" checked> <label for=""> Por mayor</label>  </p> 
          <p>$ 0.00</p>
        </div>
        <div class="row precioCantidadTotal">
          <h4 class="col-4">Precio</h4>
          <h5 class="col-4">Cantidad</h5>
          <h5 class="col-4">Total:</h5>
          
        </div>
        <button type="button" class="btn btn-success botonAñadirCarrito" href="/carrito">Añadir al carrito</button>
      </article>    

    </div>
    <div class="descripcionDetallada"> <b>Descripcion detallada: </b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam unde nam aliquid error cupiditate. Molestias quisquam, corporis officia repudiandae maiores ab aut laborum commodi? Iure, magni architecto non repellendus ipsa voluptas corrupti reiciendis eius a fuga illo, natus necessitatibus assumenda ipsum nemo alias nesciunt tempora soluta! Omnis mollitia optio soluta incidunt quam aut minima modi unde quaerat, autem praesentium dolor facilis rerum expedita reprehenderit vero in quod nemo aperiam repellat sint totam. Doloremque distinctio eos at saepe placeat vero, error dolores repellendus sint est blanditiis? Eius iure architecto quaerat voluptatem pariatur deleniti quo, perspiciatis perferendis alias necessitatibus delectus vero cumque. </div>
  </section>
  
  <!--Include footer -->
  <%- include('partials/footer') %>
  
</body>
</html>