<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de usuarios</title>
</head>
<body>
    <h1>Listado de usuarios</h1>
    <a href="/"><button>IR AL HOME</button></a>
    <ul>
        <% for( let i = 0; i < usuarios.length; i++ ) { %>
            <li><a href="/users/detail/<%= usuarios[i].id %>"><%= usuarios[i].email %></a></li>
        <% } %>
    </ul>
</body>
</html>