<!--  -->
<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Include Head -->
    <%- include('partials/_contentHead') %>
    
    <title>CandyShop - 404</title>
</head>


<body>
    <!--include HEADER-->
    <%- include('partials/header') %>
    
    <div class="container">
        
        <h1>No eres administrador</h1>
        
    </div>
    
    
    <!--Include footer -->
    <%- include('partials/footer') %>
    
    <!-- Include End Body Scripts -->
    <%- include('partials/_endBodyScripts') %>
    
</body>
</html>