<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Include Head -->
    <%- include('partials/_contentHead') %>
    
    <title>CandyShop - Carga Producto</title>
</head>

<body>
    <!--include HEADER-->
    <%- include('partials/header') %>
    <div class="container">
        <div class="row">
            <div class= "col-md-12 mb-12 tituloForm">
                <h1 class="col-md-8 col-mb-12">FORMULARIO DE CARGA DE PRODUCTOS</h1>
            </div>
            <div class="col-md-12 mb-12 contenidoForm">
                <form action="" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <section class="detalleProducto col-md-8 mb-12">
                            <h5>DETALLE PRODUCTO</h5>
                            <label for="nombreProducto">Nombre del Producto:</label>
                            <input type="text" name="nombre" placeholder="Ej: Alfajor Jorgito" class="form-control">
                            <label for="categoria">Categoria del Producto:</label>
                            <div class="input-group mb-3 col-md-6">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Categoria</label>
                                </div>
                                <select name="categoria" class="custom-select" id="inputGroupSelect01">
                                    <option selected>Seleccione una opcion...</option>
                                    <option value="Alfajores">Alfajores</option>
                                    <option value="Caramelos">Caramelos</option>
                                    <option value="Chocolates">Chocolates</option>
                                    <option value="Gomitas">Gomitas</option>
                                </select>
                            </div>
                            <label for="detalleProdcutos">Detalle del Producto:</label>
                            <textarea class="form-control col-md-12 mb-12" id="detalleProductos" name="detalle" placeholder="Por favor coloque una descricion del producto aqui.."></textarea>
                        </section>
                        <section class="precios col-md-8 mb-12">
                            <h5 class="">PRECIO</h5>
                            <label for="Costo">Costo</label>
                            <input type="text" class="form-control" name="costo" required placeholder="Ej: $ 10.00">
                            <label for="utilidad">Utilidad</label>
                            <input type="text" class="form-control" name="utilidad" required placeholder="Ej: % 50">
                            <label for="precio">Precio</label>
                            <input type="text" class="form-control" name="precio" required placeholder="Ej: $ 15.00">
                        </section>
                        <section class="masVendidos col-md-8 mb-12">
                            <h5>MAS VENDIDOS</h5>
                            <div class="input-group mb-4 col-md-6">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Mas Vendidos</label>
                                </div>
                                <select name="masVendidos" class="custom-select" id="inputGroupSelect01">
                                    <option selected>Seleccione una opcion...</option>
                                    <option value="si">SI</option>
                                    <option value="no">NO</option>
                                </select>
                            </div>
                        </section>
                        <section class="oferta col-md-8 mb-12">
                            <h5>OFERTA</h5>
                            <div class="input-group mb-4 col-md-6">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Oferta</label>
                                </div>
                                <select name="oferta" class="custom-select" id="inputGroupSelect01">
                                    <option selected>Seleccione una opcion...</option>
                                    <option value="si">SI</option>
                                    <option value="no">NO</option>
                                </select>
                            </div>
                            <div class="col-md-4 mb-12">
                                <label for="descuento">Descuento</label>
                                <input type="text" name="descuento" class="form-control" placeholder="Ej: % 10">
                            </div>
                            <div class="col-md-4 mb-12">
                                <label for="descuento">Precio Oferta</label>
                                <input type="text" name="precioOferta" class="form-control" placeholder="Ej: $ 10">
                            </div>
                        </section>
                        <section class="contenedorImg col-md-8 mb-12">
                            <h5>CARGAR IMAGEN</h5>
                            <input class="btn" type="file" name="imgProducto">
                        </section>
                    </div>
                    <button type="submit" class="btn btn-success btn-lg btn-block botonForm2 col-md-12 mb-12">Guardar Producto</button>
                </form>
            </div>
        </div>    
    </div>
    
    <!--Include footer -->
    <%- include('partials/footer') %>
    
    <!-- Include End Body Scripts -->
    <%- include('partials/_endBodyScripts') %>
    
</body>
</html>