<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Include Head -->
    <%- include('partials/_contentHead') %>
    
    <title>CandyShop - Editar Producto</title>
</head>

<body>
    <!--include HEADER-->
    <%- include('partials/header') %>




<!--Include footer -->
<%- include('partials/footer') %>

<!-- Include End Body Scripts -->
<%- include('partials/_endBodyScripts') %>

</body>
</html>