<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Include Head -->
  <%- include('partials/_contentHead') %>
  
  <title>CandyShop - Login Usuario</title>
</head>
<body>
  <!--include HEADER-->
  <%- include('partials/header') %>
  
  <div class="container cajaLoginOk cajaInicioUsers">

        <h1 class="tituloInicioSesion"> ¡Bienvenidx lamentamos esta situacion!</h1>
    <h2 class="subTituloInicioSesion">El usuario se encuentra suspendido!</h2>
    <p class="elParrafoInicioSesion"> Por favor contactate con la administración!</p>

  </div>
  
  <!--Include footer -->
  <%- include('partials/footer') %>
  
  <!-- Include End Body Scripts -->
  <%- include('partials/_endBodyScripts') %>
</body>
</html>