<footer class="container-fluid">
    
    <div class="container">
        <section class="row">
            <div class="col-xs-12 col-md-6 col-lg-4 footer1">
                <div class="row">
                    <div class="col-12 imgLogoFooter">
                       <a href="/"><img src="/images/logo/logo-01.svg" alt=""></a> <!--logo candy shop-->
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-md-6 col-lg-4 footer2 container-fluid">
                <div class="redesFooter row">

                    <a href="mailto:info@candyshop.net.ar" class="col-3"><i class="far fa-lg fa-envelope"></i></a>

                    <a href="https://www.instagram.com/candyshop.ar/" class="col-3" target="_blank"><i class="fab fa-lg fa-instagram"></i></a>

                    <a href="https://wa.me/5491130197729" class="col-3" target="popup" onclick="window.open('', 'popup', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=700,height=230,left=70,top=120')"><i class="fab fa-lg fa-whatsapp"></i></a>
                </div>
                <form action="/products" method="get" class="form-inline my-2 my-lg-0" id="newsletter">
                    <input class="form-control mr-sm-2" type="mail" placeholder="newsletter" aria-label="newsletter" id="newsletter">
                    <small class="newsletter"></small>
                    <button class="btn btn-light my-2 my-sm-0" type="submit" id="newsletter">Suscribite</button>
                </form>
            </div>
            
            <div class="col-xs-12 col-12 col-lg-4 footer3">
                <p>Av. Monroe 860, C1428BKD, Bs. As. | CABA</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2323.683779882276!2d-58.44507493467017!3d-34.54886809893868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb436efe09303%3A0xfb39818e7624ac76!2sDigital%20House!5e0!3m2!1ses-419!2sar!4v1593219319093!5m2!1ses-419!2sar" width="100%" height="80%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </section>    
    </div>
    
</footer>

<div id="whatsapp">
    <!--include WHATSAPP-->
    <%- include('whatsapp') %>
</div>


<section id="copyright">
    <p>// © >_cuarentenialCoders. < /primeTeam ></p>
    <p>Todos los derechos reservados. 2020</p>
</section>

<script src="/js/footer.js"></script>