<footer class="container-fluid">
    
    <div class="container">
        <section class="row">
            <div class="col-4 footer1">
                <div class="row">
                    <div class="col-4">
                        <img src="/images/logo/logo-01.svg" alt=""> <!--logo candy shop-->
                    </div>
                    
                    <div class="col-8">
                        <ul>
                            <li>
                                <a href="/"><i class="fas fa-candy-cane"></i> Home</a>
                            </li>
                            <li>
                                <a href="/detalleProducto"><i class="fas fa-candy-cane"></i> Detalle Producto</a>
                            </li>
                            <li>
                                <a href="/carrito"><i class="fas fa-candy-cane"></i> Carrito</a>
                            </li>
                            <li>
                                <a href="/formularioProducto"><i class="fas fa-candy-cane"></i> Formulario Carga</a>
                            </li>
                            <li>
                                <a href="/registro"><i class="fas fa-candy-cane"></i> Registro</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                
            </div>
            
            <div class="col-4 footer2 container-fluid">
                <div class="redesFooter row">
                    <a href="#" class="col-3"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="col-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="col-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="col-3"><i class="fab fa-whatsapp"></i></a>
                </div>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="mail" placeholder="newsletter" aria-label="newsletter">
                    <button class="btn btn-light my-2 my-sm-0" type="submit">Suscribite</button>
                </form>
            </div>
            
            <div class="col-4 footer3">
                <p>Av. Monroe 860, C1428BKD, Bs. As.</p> 
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2323.683779882276!2d-58.44507493467017!3d-34.54886809893868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb436efe09303%3A0xfb39818e7624ac76!2sDigital%20House!5e0!3m2!1ses-419!2sar!4v1593219319093!5m2!1ses-419!2sar" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <p>// © >_cuarentenialCoders. Todos los derechos reservados.</primeTeam></p>
        </section>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>