    <!-- NAV SECUNDARIA-->
<nav class="navBar2 container-fluid">

    <div class="container nav-sec">
        
      <!-- MENU DROP-->
      <ul class="nav nav-pills">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categorias</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#"><i class="fas fa-tag"></i> Ofertas</a>
            <a class="dropdown-item" href="#">Ultimos visitados</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Alfajores</a>
            <a class="dropdown-item" href="#">Caramelos</a>
            <a class="dropdown-item" href="#">Snacks</a>
          </div>
        </li>
        
        <!-- CATEGORIAS DESTACADAS-->
        <li class="nav-item">
          <a class="nav-link" href="#">Destacdo 1</a> <!--class="nav-link active"-->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Destacada 2</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Destacada 3</a> <!--class="nav-link disabled"-->
        </li>
      </ul>   
    </div>
  </nav>