<!-- NAVBAR SECUNDARIA-->
<nav class="navBar2 container-fluid">
  <div class="nav-sec container">
    
    <!-- MENU DROP-->
    <ul class="ulMenuDrop nav nav-pills">
      
      <!-- CATEGORIAS DESPLEGABLE -->
      <li class="categDropDown nav-item dropdown">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">CATEGORIAS </a>
        <div class="categDropMenu dropdown-menu">
          <a class="dropdown-item" href="#"><i class="fas fa-tag"></i> Ofertas</a>
          <!-- <a class="dropdown-item" href="#">Ultimos visitados</a> -->
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Alfajores</a>
          <a class="dropdown-item" href="#">Caramelos</a>
          <a class="dropdown-item" href="#">Chocolates</a>
          <a class="dropdown-item" href="#">Gomitas</a>
        </div> <!-- /.categDropMenu -->
      </li> <!-- /.categDropDown -->
      
      <!-- CATEGORIAS FIJAS -->
      <li class="liFixed liProducts nav-item">
        <a class="nav-link" href="/products"><i class="fas fa-award"></i> Todos los productos</a> 
      </li>
      <!-- /.liProducts -->

      <li class="liFixed liOffer nav-item">
        <a class="nav-link" href="/products/offer"><i class="fas fa-tag"> </i> Ofertas</a>
      </li>
      <!-- /.liOffer -->
      
      <!-- <li class="liFixed liPromotions nav-item">
        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-fire-alt"></i> Promociones</a>
      </li> --> 
      <!-- /.liPromotions -->
      
    </ul> <!-- /.ulMenuDrop -->
  </div> <!-- /.nav-sec -->
</nav> <!-- /.navBar2 -->