    <!-- NAV SECUNDARIA-->
    <nav class="navBar2 container-fluid">
      
      <div class="container nav-sec">
        
        <!-- MENU DROP-->
        <ul class="nav nav-pills">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">CATEGORIAS </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#"><i class="fas fa-tag"></i> Ofertas</a>
              <a class="dropdown-item" href="#">Ultimos visitados</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Chocolates</a>
              <a class="dropdown-item" href="#">Golosinas</a>
              <a class="dropdown-item" href="#">Galletitas</a>
              <a class="dropdown-item" href="#">Comestibles</a>
            </div>
          </li>
          
          <!-- CATEGORIAS DESTACADAS-->
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-award"></i> Mas vendidos</a> <!--class="nav-link active"-->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-tag"> </i> Ofertas</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Promociones</a> <!--class="nav-link disabled"-->
          </li>
        </ul>   
      </div>
    </nav>