<link rel="stylesheet" href="/css/pages/_whatsapp.css">

<a href="https://wa.me/5491130197729" class="col-3" target="popup" onclick="window.open('', 'popup', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=700,height=230,left=70,top=120')">
<div class="wa__btn_popup">
    <!-- <div class="wa__btn_popup_txt"><strong>Chatea con nosotros</strong></div> -->
    
    <div class="wa__btn_popup_icon">
    </div>
</div>
</a>

<div class="wa__popup_chat_box">
    <div class="wa__popup_heading">
        <div class="wa__popup_title">Iniciar una conversación</div>
        <div class="wa__popup_intro">Por favor elija uno de nuestros miembros para chatear por Whatsapp.</div>
    </div>
    <!-- /.wa__popup_heading -->
    <div class="wa__popup_content wa__popup_content_left">
        <div class="wa__popup_notice"></div>
        
        
        <div class="wa__popup_content_list">
            <div class="wa__popup_content_item ">
                <a target="_blank" href="https://web.whatsapp.com/send?phone=5491157288468" class="wa__stt wa__stt_online">
                    <div class="wa__popup_avatar">
                        <div class="wa__cs_img_wrap" style="background: url(https://www.gaming-city.com.ar/web/wp-content/uploads/2020/07/gc_logo_iso_2.png) center center no-repeat; background-size: cover;"></div>
                    </div>
                    
                    <div class="wa__popup_txt">
                        <div class="wa__member_name">Mica Lewko</div>
                        <!-- /.wa__member_name -->
                        <div class="wa__member_duty">Dev Jr</div>
                        <!-- /.wa__member_duty -->
                    </div>
                    <!-- /.wa__popup_txt -->
                </a>
            </div>
            <div class="wa__popup_content_item ">
                <a target="_blank" href="https://web.whatsapp.com/send?phone=5491126222293" class="wa__stt wa__stt_online">
                    <div class="wa__popup_avatar">
                        <div class="wa__cs_img_wrap" style="background: url(https://www.gaming-city.com.ar/web/wp-content/uploads/2020/07/gc_logo_iso_2.png) center center no-repeat; background-size: cover;"></div>
                    </div>
                    
                    <div class="wa__popup_txt">
                        <div class="wa__member_name">Tomi Chiesa</div>
                        <!-- /.wa__member_name -->
                        <div class="wa__member_duty">Dev Jr</div>
                        <!-- /.wa__member_duty -->
                    </div>
                    <!-- /.wa__popup_txt -->
                </a>
            </div>
            <div class="wa__popup_content_item ">
                <a target="_blank" href="https://web.whatsapp.com/send?phone=5491161203745" class="wa__stt wa__stt_online">
                    <div class="wa__popup_avatar">
                        <div class="wa__cs_img_wrap" style="background: url(https://www.gaming-city.com.ar/web/wp-content/uploads/2020/07/gc_logo_iso_2.png) center center no-repeat; background-size: cover;"></div>
                    </div>
                    
                    <div class="wa__popup_txt">
                        <div class="wa__member_name">Juan Espinel</div>
                        <!-- /.wa__member_name -->
                        <div class="wa__member_duty">Dev Jr</div>
                        <!-- /.wa__member_duty -->
                    </div>
                    <!-- /.wa__popup_txt -->
                </a>
            </div>
            <div class="wa__popup_content_item ">
                <a target="_blank" href="https://web.whatsapp.com/send?phone=5491163359251" class="wa__stt wa__stt_online">
                    <div class="wa__popup_avatar">
                        <div class="wa__cs_img_wrap" style="background: url(https://www.gaming-city.com.ar/web/wp-content/uploads/2020/07/gc_logo_iso_2.png) center center no-repeat; background-size: cover;"></div>
                    </div>
                    
                    <div class="wa__popup_txt">
                        <div class="wa__member_name">Fran Fernandez</div>
                        <!-- /.wa__member_name -->
                        <div class="wa__member_duty">Dev Jr</div>
                        <!-- /.wa__member_duty -->
                    </div>
                    <!-- /.wa__popup_txt -->
                </a>
            </div>
            
        </div>
        <!-- /.wa__popup_content_list -->
    </div>
    <!-- /.wa__popup_content -->
</div>