/* =====================
- HEADER
===================== */

header {
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

header div.masterContain{
  background-color: var(--rosa-background-header) ;
}

/* =====================
- LOGO
===================== */
header div.masterContain div.firstDivRow nav.navbar div.containLogo{
  text-align: center;
}
header div.masterContain div.firstDivRow nav.navbar div.containLogo a img{
  min-width: 140px;
  max-width: 160px;
  padding: 5px 0;
}

/* =====================
- SEARCH
===================== */
header div.masterContain div.firstDivRow nav.navbar div.containSearch form.search-form{
  position: relative;
  display: flex;
  align-items: center;
}
header div.masterContain div.firstDivRow nav.navbar div.containSearch input.search-form_input{
  border: solid 1px var(--light-gray);
  display: block;
  width: 100%;
  padding: 7px 35px 7px 7px;
  border-radius: 3px;
  height: 40px;
  /* font-size: 1.5em; */
  text-align: center;
  color: var(--violeta-textos);
  font-size: 1.2rem;
  
}
header div.masterContain div.firstDivRow nav.navbar div.containSearch button.search-form_button{
  position: absolute;
  right: 2px;
  height: 60%;
  background-color: var(--blanco);;
  border: none;
  border-left: solid 1px var(--light-gray);
  color: var(--gray);
  cursor: pointer;
}

/* =====================
- MENU DERECHA
===================== */
header div.masterContain div.firstDivRow nav.navbar div.containButtons ul.headerButtons{
  justify-content: start;
}
header div.masterContain div.firstDivRow nav.navbar div.containButtons ul.headerButtons li a{
  color: var(--violeta-textos);
}
header div.masterContain div.firstDivRow nav.navbar div.containButtons ul.headerButtons li a:hover{
  text-decoration: none;
  color: var(--celeste-claro);
}
header div.masterContain div.firstDivRow nav.navbar div.containButtons ul.headerButtons li.categDropDown div.categDropMenu a.dropdown-item:hover{
    text-decoration: none;
    color: var(--violeta-hovercolor);
  }

/* =====================
- ESPECIALES DROP MENU
===================== */
header div.masterContain div.firstDivRow nav.navbar div.containButtons ul.headerButtons li a.nav-link.active,
header div.masterContain div.firstDivRow nav.navbar div.containButtons ul.headerButtons .show > .nav-link{
  background-color: var(--violeta-textos);
  color: var(--blanco);
}

/* =====================
- @media
===================== */
/* @media (max-width: 768px) {
  header{
    width: 50%;
    background-color: red;
  }
} */